/*
 * Colors;
 * #93C01F - 147 192 31
 * #6A8417 - 106 132 23
 * #3F4F0C - 63 79 12
 * #3C3C3B - 60 60 59
 * #C6C6C5 - 198 198 197
 * #ECECEC - 236 236 236
 *
 */

body {
	background-color: #ECECEC;
	color: #3C3C3B;
	font-family: sans-serif;
	margin: 0pt auto;
}
#header {
  background: url('../img/osdc_logo-01.png') no-repeat;
  height : 160px;
}
#wrapper {
	margin: 0pt auto;
	width: 850px;
}

#menu {
	font-size: 90%;
  border-color: #93c01f;
  border-style: solid;
  border-bottom: 1px;
  border-top: 1px;
}

#menu h2 {
	font-size: 110%;
}

#menu li {
    margin-left: 1em;
    list-style-type: none;
}

#content {
}

#footer {
	clear: both;
	font-size: 80%;
	text-align: right;
}
